@import url("./reset.css");

body {
    background-color: #ffe6f2;
    color: #333;
    height: 100vh;
}

* {
    font-family: Assistant;
}

h1 {
    font-size: 28px;
    color: #e74c3c; /* Bright red color for the title */
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #ff85b0; /* Matching the container's border */
    margin-bottom: 15px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    transition: border-color 0.3s;
}

button {
    background-color: #ff85b0;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    box-shadow: #636363 1px 0px 10px;
}
